@import './utils/variables';
@import './base/card-set';
@import './base/common';
@import './base/container';

@import './utils/variables';
@import './utils/reset';

@import './components/logo';
@import './components/btn';
@import './components/subscribe';
@import './components/modal';
@import './components/placeholder';

@import './layout/header';
@import './layout/contacts';
@import './layout/nav';
@import './layout/hero';
@import './layout/advantages';
@import './layout/works';
@import './layout/team';
@import './layout/clients';
@import './layout/footer';

/* Утилиты */

/* Page header */

/* ---------Logo---------- */

/* --------Site nav------- */

/* Hero */

/* --------Features-------- */

/* ----------- Works ----------- */

/* ---------- Our team --------- */

/* -----------Clients---------- */

/* -------------Footer---------------- */

/* Portfolio */

.container .filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .filter-point:not(:last-child) {
  margin-right: 8px;
}

.filter-item {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.62;
  cursor: pointer;

  padding: 6px 22px;
  text-align: center;
  border-radius: 4px;
  border: none;

  color: var(--title-color);
  background-color: var(--background-team-color);
  transition: color var(--transition), background-color var(--transition),
    box-shadow var(--transition);
  /* transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

.filter-item:hover,
.filter-item:focus,
.filter .current {
  background-color: var(--accent-color);
  color: var(--main-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* .service-list {
  margin-left: -30px;
  margin-top: -30px;
} */

/* .service-item {
  margin-left: 30px;
  margin-top: 30px;
  width: calc(100% / 3 - 30px);
  width: calc((100% - 60px) / 3);
} */
.thumb-overlay {
  position: relative;
  overflow: hidden;
}

.thumb-overlay .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  padding: 63px 24px;

  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--transition);
}

.service-link:hover .overlay,
.service-link:focus .overlay {
  transform: translateY(0);
}

.overlay > .overlay-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  overflow: auto;

  color: var(--main-white);
}

.service-item .link {
  display: block;
  transition: box-shadow var(--transition);
}

.service-item .link:hover,
.service-item .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* .service-item:nth-child(3n) {
  margin-right: 0;
}
.service-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */

.all-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;

  color: var(--title-color);
}

.text-all {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;

  color: var(--main-color);
}

/* -----------Modal----------- */
